@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(../images/background.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.header {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: #ffffff1c;

}

.header-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.header-link,
.header-logo {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.3s;
}
.header-link:hover::after{
    width: 100%;
}
.banner {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    min-height: 80dvh;
    margin-top: 50px;

}
.banner-bg{
    background-image: url(../images/cohete.png);
    position: absolute;
    width: 100%;
    height: 80dvh;
    background-size: cover;
    background-position: right;
    right: 0;
    top: -100px;

}
.banner article h1{
    font-size: 60px;
    margin-bottom: 30px;
    width: 600px;
}
.banner article p{
    margin-bottom: 30px;
    width: 600px;
}
.banner article button {
    backdrop-filter: blur(10px);
    background: transparent;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
    font-weight: bold;
    color:white
}
.container{
    width: 100%;

}